# Virtual environment
chat/

# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
*.swp

# Log files
*.log

# Distribution / packaging
*.egg
*.egg-info
dist/
build/
pip-wheel-metadata/

# FAISS index files
faiss_index/

# Streamlit-specific
.cache/
